// Predefined Break-points
$breakPoint-1: 1200px;
$breakPoint-2: 1100px;
$breakPoint-3: 1000px;
$breakPoint-4: 900px;
$breakPoint-5: 700px;
$breakPoint-6: 420px;


.header {

  margin: 5em 0 5em 0;

  .image_description_container {
    width: 1200px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 15px 25px 0 rgba(87, 87, 87, 0.17);
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 5em;

    .fourier_image {
      img {
        max-width: 400px;
        max-height: 550px;
        border-radius: 10px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 50px;
      }
    }


    .description {
      display: grid;
      grid-template-rows: 1fr 5fr;
      // grid-row-gap: 5em;
      align-items: center;

      .title {
        font-family: 'Playfair Display', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 3em;
        // font-weight: bold;
      }

      .details {

        p {
          font-family: 'Nunito', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 1.1em;
          line-height: 1.2em;
          text-align: justify;
          letter-spacing: 0.5px;
          color: rgba(0, 0, 0, 0.85);
          padding: 0 50px 20px 0;

          span {
            color: rgba(13, 13, 13, 0.38);
            ont-family: 'Nunito', sans-serif;
            font-style: italic;
            font-weight: normal;
            font-size: 0.7em;
          }
        }
      }
    }

  }

}


@media only screen and (max-width: $breakPoint-1) {

  .header {

    .image_description_container {

      width: 1100px;
      .fourier_image {
        img {
          max-width: 350px;
          max-height: 500px;
        }
      }

    }

  }

}

@media only screen and (max-width: $breakPoint-2) {

  .header {

    .image_description_container {
      width: 1000px;
      height: 610px;


      .description {

        .title {
          font-size: 2.5em;
          // font-weight: bold;
        }

        .details {

          p {
            font-size: 1.1em;
            line-height: 1.2em;
            padding: 0 50px 15px 0;

          }
        }
      }


    }


  }

}


@media only screen and (max-width: $breakPoint-3) {

  .header {

    .image_description_container {
      width: 900px;
      height: 620px;


      .description {

        .title {
          font-size: 2.5em;
          // font-weight: bold;
        }

        .details {

          p {
            font-size: 1em;
            line-height: 1.2em;
            padding: 0 50px 15px 0;

          }
        }
      }


    }

  }

}

@media only screen and (max-width: $breakPoint-4) {

  .header {

    .image_description_container {
      grid-template-columns: 1fr ;
      grid-template-rows: 1fr 2fr;
      align-items: center;
      // justify-content: center;
      width: 700px;
      height: 700px;

      .fourier_image {
        img {
          max-width: 250px;
          max-height: 600px;
          top: 5%;
          left: 50%;
          transform: translateX(-50%);
          margin: 0;
        }
      }

      .description {
        text-align: center;
        .title {
          font-size: 2em;
          margin-bottom: 0.5em;
          // font-weight: bold;
        }

        .details {

          p {
            font-size: 1em;
            line-height: 1.1em;
            padding: 0 25px 10px 25px;

          }
        }
      }


    }

  }

}


@media only screen and (max-width: $breakPoint-5) {

  .header {
    margin: 0em 0 5em 0;

    .image_description_container {
      width: 100%;
      height: 100%;

      .description {
        text-align: center;
        .title {
          font-size: 2em;
          margin-bottom: 0.5em;
          // font-weight: bold;
        }

        .details {

          p {
            font-size: 1em;
            line-height: 1.1em;
            padding: 0 25px 10px 25px;

          }
        }
      }


    }

  }

}


@media only screen and (max-width: $breakPoint-6) {

  .header {

    .image_description_container {
      width: 100%;
      height: 100%;


      .description {
        text-align: center;
        .title {
          font-size: 2em;
          margin-bottom: 0.2em;
          // font-weight: bold;
        }

        .details {

          p {
            font-size: 1em;
            line-height: 1.1em;
            padding: 0 25px 10px 25px;

          }
        }
      }


    }

  }

}
